.achievement {
    display: flex;
    justify-content: flex-start;
}



.achievement_item {
    width: rem(150);
    height: rem(150);
    overflow: hidden;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    margin-right: rem(30);
}