    /*
    Flaticon icon font: Flaticon
    Creation date: 09/02/2018 13:02
    */
 
    @font-face {
  font-family: "Flaticon";
  src: local('Flaticon'), url("./fonts/Flaticon.eot");
  src: local('Flaticon'), url("./fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./fonts/Flaticon.woff") format("woff"),
       url("./fonts/Flaticon.ttf") format("truetype"),
       url("./fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: local('Flaticon'), url("./fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-organizational-chart:before { content: "\f100"; }
.flaticon-family-tree:before { content: "\f101"; }
.flaticon-magnifier:before { content: "\f102"; }
.flaticon-double-angle-pointing-to-right:before { content: "\f103"; }
.flaticon-book:before { content: "\f104"; }
.flaticon-folded-newspaper:before { content: "\f105"; }
.flaticon-people:before { content: "\f106"; }
.flaticon-discussion:before { content: "\f107"; }
.flaticon-calendar:before { content: "\f108"; }
.flaticon-partners:before { content: "\f109"; }
.flaticon-lightbulb-idea:before { content: "\f10a"; }
.flaticon-user:before { content: "\f10b"; }

    $font-Flaticon-organizational-chart: "\f100";
    $font-Flaticon-family-tree: "\f101";
    $font-Flaticon-magnifier: "\f102";
    $font-Flaticon-double-angle-pointing-to-right: "\f103";
    $font-Flaticon-book: "\f104";
    $font-Flaticon-folded-newspaper: "\f105";
    $font-Flaticon-people: "\f106";
    $font-Flaticon-discussion: "\f107";
    $font-Flaticon-calendar: "\f108";
    $font-Flaticon-partners: "\f109";
    $font-Flaticon-lightbulb-idea: "\f10a";
    $font-Flaticon-user: "\f10b";
