.content_to_right {
    padding: rem($header_height) 0 0 rem($sidebar_width);
    transition: all .3s ease;
}

.sn_wrapp {
    max-width: rem($content_width);
    width: 100%;
    margin: 0 auto;
    padding: 0 rem(15);
    box-sizing: border-box;
    transition: all .3s ease;
}

body {
    background-color: $gray;
    font-family: $font_base;
}


.sn_title {
    font-size: rem(36);
    font-weight: 500;
    padding-bottom: rem(10);
    border-bottom: 1px solid $black;
    width: 100%;
    text-align: left;
    font-family: $font_fira;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &--description {
        margin-bottom: rem(10);
        display: flex;
        justify-content: space-between;
        font-family: $font_roboto;
    }

    a {
        font-size: rem(16);

        &:hover {
            text-decoration: underline;
        }
    }
}

a {
    color: $link_cl;
    text-decoration: none;

    &:hover {
        color: $link_cl--hover;
    }
}

a.btn_link,
span.btn_link {
    display: block;
    padding: rem(5) rem(15);
    border: 3px solid $link_btn_border;
    color:  $link_btn_cl;
    border-radius: rem(20);
    background-color: $link_btn_bg;

    &:hover {
        background-color: $link_btn_bg--hover;
        color: $link_btn_cl--hover;
        border: 3px solid $link_btn_border--hover;
    }
}

.sn_btn {
    background-color: $btn_bg_default;
    color: $white;
    border: 1px solid $btn_bg_default_border;
    font-size: 1rem;
    padding: 0 rem(20);
    box-sizing: border-box;
    cursor: pointer;
    border-radius: rem(10);
    text-transform: capitalize;
    line-height: rem(35);
    display: inline-block;

    &:hover {
        background-color: $btn_bg_default--hover;
        color: $white;
    }

    &--error {
        background-color: $btn_bg_error;
        border: 1px solid $btn_bg_error_border;

        &:hover {
            background-color: $btn_bg_error--hover;
            color: $white;
        }
    }

    &--disbled {
        background-color: $btn_bg_disbled;
        border: 1px solid $btn_bg_disbled_border;

        &:hover {
            background-color: $btn_bg_disbled--hover;
            color: $white;
        }
    }
}

input {
    height: rem($input_height);
    line-height: $input_lh;
    overflow: hidden;
}

input,
textarea {
    width: 100%;
    padding: 0 rem(10);
    box-sizing: border-box;
    // margin-bottom: rem(10);
}

textarea {
    resize: none;
    line-height: rem(25);
    min-height: rem(150);
}

input[type="range"] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: $green;
    width: 100%;
    height: rem(20);
    margin: 0;
    border: none;
    padding: 1px 2px;
    border-radius: rem(14);
    background: $green;
    outline: none; /* no focus outline */
} 

input[type="range"]::-moz-range-track {
    border: inherit;
    background: transparent;
}
  
input[type="range"]::-ms-track {
    border: inherit;
    color: transparent; /* don't drawn vertical reference line */
    background: transparent;
}
  
input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
    background: transparent;
}
  
input[type="range"]::-ms-tooltip {
    display: none;
}
  
  /* thumb */
  
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: rem(40);
    height: rem(18);
    border: none;
    border-radius: rem(12);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $light_blue), color-stop(100%, $blue)); /* android <= 2.2 */
    background-image: -webkit-linear-gradient(top , $light_blue 0, $blue 100%); /* older mobile safari and android > 2.2 */;
    background-image: linear-gradient(to bottom, $light_blue 0, $blue 100%); /* W3C */
    box-shadow: 0 0 3px 1px rgba(0,0,0,.5);
}

input[type="range"]::-moz-range-thumb {
    width: 40px;
    height: 18px;
    border: none;
    border-radius: 12px;
    background-image: linear-gradient(to bottom, $light_blue 0, $blue 100%); /* W3C */
}
  
input[type="range"]::-ms-thumb {
    width: 40px;
    height: 18px;
    border-radius: 12px;
    border: 0;
    background-image: linear-gradient(to bottom, $light_blue 0, $blue  100%); /* W3C */
}
 
input[type='file'] {
    background-color: $green;
    color: $white;
    width: 100%;
    padding: 0; 
    line-height: rem($input_height);
    height: rem($input_height + 3) ;
    border: none;
    border-radius: rem(20);
    overflow: hidden;

    &::-webkit-file-upload-button {
        border: none;
        color: $black;
        cursor: pointer;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $green_2), color-stop(100%, $green_2)); /* android <= 2.2 */
        background-image: -webkit-linear-gradient(top , $green_2 0, $green_2 100%); /* older mobile safari and android > 2.2 */;
        background-image: linear-gradient(to bottom, $green_2 0, $green_2 100%); /* W3C */
    }
}

fieldset {
    margin-bottom: rem(10);
    text-align: left;
    border: none;
    padding: 0;
    margin-bottom: rem(20);
}

legend {
    padding: 0 0 rem(10);
}

label {
    font-size: rem(13);
    padding: 0 rem(10);
}

.sn_overflow {
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        vertical-align: middle;
        text-align: center;
        border: 1px solid $green;
        padding: rem(5);

        &:first-child {
            text-align: left;
        }
    }
}

.to_left {
    text-align: left;
} 

.error {
    color: $red_2;
    margin-top: rem(10);
}