.porfil {

}

.user {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-bottom: rem(20);

    &__global_info {
        width: 100%;

        &__position {
            margin-bottom: rem(20);
            font-size: rem(24);
            font-weight: 400;
            color: $green;
        }

        &__list {
            display: flex;
            justify-content: space-between;

            & > div {
                width: 50%;
            }

            &__item {
                display: flex;
                justify-content: space-between;
                text-align: left;
                padding: rem(5) 0;

                & > div {
                    width: 50%;
                }
            }
        }
    }

    &__edit_global_info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__item {
            width: 49%;
            margin-bottom: rem(10);
        }
    }

    &__avatar {
        margin-right: rem(30);

        img {
            width:  rem(300);
            height:  rem(300);
            border-radius: 100%;
            overflow: hidden;
        }
    }
}

.skils {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        margin-right: rem(10);
        margin-bottom: rem(10);
    }

    a {
        display: block;
        padding: rem(5) rem(15);
        border: 3px solid $orange;
        color:  $orange;
        border-radius: rem(20);

        &:hover {
            background-color: $orange;
            color: $white;
            border: 3px solid $orange_2;
        }
    }
}
