@media only screen and (max-width: rem(1200)) and (min-width: rem(768)) {

    .content_to_right:not(.open) {
        padding-left: rem($sidebar_width_resp);
        transition: all .3s ease;

        .sn_sidebar {
            max-width: rem($sidebar_width_resp);
            transition: all .3s ease;

            &__logo {
                height: rem($header_height);

                a {
                    position: relative;
                    left: rem(-300);
                    transition: all .3s ease; 
                }
            }

            &__user {
                justify-content: center;

                &__name {
                    display: none;

                }

                &__avatar--default {
                    margin-right: 0;
                }
            }

            &__menu {

                &__item {
                    justify-content: center;
                    height: 4.125rem;
                    padding: 0 0.5rem;

                    &:hover {
                        background: none;
                    }

                    &__icon {
                        margin-right: 0;
                        width: 4rem;
                        height: 4rem;
                        line-height: 4rem;
                    }

                    &__name {
                        display: none;
                        opacity: 0;
                    }
                }
            }
        }

        .sn_header {
            left : rem($sidebar_width_resp);
            transition: all .3s ease;

            &__logo {
                display: block;
            }
        }
    }

    .content_to_right {
        
        &.open {

            overflow: hidden;

            .sn_overflow {
                display: block;
            }
        }
    }

    .sn_sidebar__logo img {
        max-height: 75px;
    }

    .sn_menu {
        display: flex;
    }

}


@media only screen and (max-width: rem(1200)) {
    .user {
        flex-direction: column;


        &__avatar {
            margin-right: 0;
            width: 100%;
            text-align: center;
        }
    }
}