$red : #d48e8e;
$gray : #edecec;
$gray_2 : #868686;
$gray_3 : #30353f;
$dark_gray: #22262c;
$dark_gray_2 : #121419;
$dark_gray_3 : #7e7b6e;
$blue: #0aa2b5;
$light_blue : #60c2cf;
$dark_blue : #080e1a;
$white : #fff;
$black : #000;
$black_2 : #080e1a;
$orange : #eea032;
$orange_2 : #ffc107;
$green : #607d8b;
$green_2 : #5cb85c;
$light_green :  #7cc576;

// global
$sidebar_width: 350;
$content_width: 1200;
$header_height: 90;

$fontSize : 16;
$font_base : arial;
