/* 
bg - bacground color
cl - color
lh - lineheight


*/


$red : #ec4f4f;
$red_2 : #e06767;
$gray : #edecec;
$gray_2 : #868686;
$gray_3 : #30353f;
$dark_gray: #22262c;
$dark_gray_2 : #121419;
$dark_gray_3 : #7e7b6e;
$blue: #0aa2b5;
$blue_dark: #007280;
$light_blue : #60c2cf;
$dark_blue : #080e1a;
$white : #fff;
$black : #000;
$black_2 : #080e1a;
$orange : #eea032;
$orange_2 : #ffc107;
$green : #607d8b;
$green_2 : #5cb85c;
$green_3 : #46a03f;
$light_green :  #7cc576;

// global
$sidebar_width: 350;
$content_width: 1200;
$header_height: 90;

// fonts
$fontSize : 16;
$font_arial : 'arial';
$font_fira : 'Fira Sans', sans-serif;
$font_roboto : 'Roboto Condensed', sans-serif;

$font_base : $font_roboto;

//  responsive styles
$sidebar_width_resp : 80;
$header_height_resp: 55;
$sidebar_width_mobile: 250;

// buttons 
$btn_bg_default : $green_2;
$btn_bg_default_border : $green_2;
$btn_bg_default--hover : $green_3;

$btn_bg_error : $red_2;
$btn_bg_error_border : $red_2;
$btn_bg_error--hover : $red;

$btn_bg_disbled : $gray_2;
$btn_bg_disbled_border : $gray_2;
$btn_bg_disbled--hover : $dark_gray_3;

// link 
$link_cl : $blue;
$link_cl--hover : $blue_dark;

$link_btn_cl : $orange;
$link_btn_bg : transparent;
$link_btn_border : $orange;

$link_btn_cl--hover : $white;
$link_btn_bg--hover : $orange;
$link_btn_border--hover : $orange_2;

// input
$input_height : 25;
$input_lh : $input_height;